/* favorites page */

.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.favorites-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #303030;
    padding: 1rem;
    width: 50%;
}