/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
}



/* header */

header {
    margin-bottom: 5rem;
}



/* debug - CSS temporaneo */

header nav {
    background-color: lightskyblue;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-link {
    color: black;
}

.cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.car-card {
    text-align: center;
    background-color: deepskyblue;
    width: 30rem;
}

.button {
    padding: 10px 22px;
    background: #f7f7f7;
    cursor: pointer;
    display: block;
    text-align: center;
}

/* --------------------------------------- */