/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.8;
}

#root {
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    color: #303030;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #0f60e4;
    border-color: #303030;
}

main {
    padding-top: 5rem;
}

.button,
button {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 1rem;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #8f8f9d;
}

.button:hover,
button:hover {
    background-color: #eaeaea;
}